.create_blog{
    border :1px solid #068181;
    padding: 30px 60px;
    border-radius: 10px;
}
.create_blog input{
    margin: 5px 0px;
    border-color: gray;
}
.create_blog textarea{
    border-color: gray;
}
.create_blog button{
    margin: 30px 0px 0px 0px;
    background-color:  #068181;
    color: white;
    font-weight: 700;
    width: 30%;
}


/* section three  */
.sec_three_img{
    transform: Scale(.97);
    transition: transform 0.3s ease-in-out;
    
}
.sec_three_img:hover{
    transform: Scale(1);
}