.create_blog{
    border :1px solid #068181;
    padding: 30px 60px;
    border-radius: 10px;
}
.create_blog input{
    margin: 5px 0px;
}
.create_blog button{
    margin: 30px 0px 0px 0px;
    background-color: #068181;
    color: white;
    font-weight: 700;
}
