.dashboard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 40px 60px;
    gap: 20px;
}

.home{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  margin: auto;
    gap: 10px;
    width: 90%;
}
.home >div{
  transform: scale(.91);
  transition: transform 0.3s ease-in-out;
 
}
.home >div:hover{
  transform: scale(1);
}

